[run]
branch = True
source = python_tools

[report]
show_missing = True
skip_covered = True
fail_under = 100
exclude_lines =
    \#\s*pragma: no cover
    ^\s*@overload( |$)
    ^\s*assert False(,|$)
    ^\s*if TYPE_CHECKING:
    ^\s*raise NotImplementedError\b
    ^\s*return NotImplemented\b
    ^if __name__ == ['"]__main__['"]:$
